KEYCLOAK_URL=http://keycloak:8080
REALM=local-dev
CLIENT_ID=fastapi-client
KEYCLOAK_CLIENT_SECRET=put-your-client-secret
CALLBACK_URL=http://localhost:8000/api/callback

FRONTEND_URL=http://localhost:5173
